<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/infoAdmin.css">
    <title>Document</title>
</head>
<body>
    <header>
		<div id="header">
			<p class="logo-header"><img src="/image/logo.png" alt=""></p>

			<ul class="nav-items">
                <li><a href="http://localhost:3000/infoAdmin">Trang Chủ Quản Lý</a></li>
                <li><a href="http://localhost:3000/listOrder">Danh Sách Đặt Bàn</a></li>
				<li><a href="http://localhost:3000/handerOrder">Xử Lý Đơn Đặt Bàn</a></li>
				<li><a href="#">Chỉnh Sửa Món Ăn</a></li>
				<li><a href="http://localhost:3000/home">Trang Chủ</a></li>
			</ul>
		</div>
	</header>
</body>
</html>